h2 Afghanistan
div#afghanistan
a#download-afghanistan Gimme

h2 Colombia
div#colombia
a#download-colombia Gimme

h2 Sudan
div#sudan
a#download-sudan Gimme

h2 South Sudan
div#south-sudan
a#download-south-sudan Gimme

h2 Congo
div#dem-rep-of-the-congo
a#download-dem-rep-of-the-congo Gimme

h2 Somalia
div#somalia
a#download-somalia Gimme

h2 Iraq
div#iraq
a#download-iraq Gimme

h2 Syria
div#syrian-arab-rep
a#download-syrian-arab-rep Gimme

h2 Libya
div#libya
a#download-libya Gimme

h2 Yemen
div#yemen
a#download-yemen Gimme

h2 Cote d'Ivoire
div#cote-divoire
a#download-cote-divoire Gimme

h2 Ukraine
div#ukraine
a#download-ukraine Gimme

h2 Chad
div#chad
a#download-chad Gimme

h2 Eritrea
div#eritrea
a#download-eritrea Gimme

h2 Pakistan
div#pakistan
a#download-pakistan Gimme

h2 Bosnia and Herzegovina
div#bosnia-and-herzegovina
a#download-bosnia-and-herzegovina Gimme

h2 Rwanda
div#rwanda
a#download-rwanda Gimme

h2 Central African Republic
div#central-african-rep
a#download-central-african-rep Gimme

h2 Nigeria
div#nigeria
a#download-nigeria Gimme

h2 The world
div#total
a#download-total Gimme

p the end
