h2 Afghanistan
div#afghanistan

h2 Colombia
div#colombia

h2 Sudan
div#sudan

h2 South Sudan
div#south-sudan

h2 Congo
div#dem-rep-of-the-congo

h2 Somalia
div#somalia

h2 Iraq
div#iraq

h2 Syria
div#syrian-arab-rep

h2 Libya
div#libya

h2 Yemen
div#yemen

h2 Cote d'Ivoire
div#cote-divoire

h2 Ukraine
div#ukraine

h2 Chad
div#chad

h2 Eritrea
div#eritrea

h2 Pakistan
div#pakistan

h2 The world
div#total

p the end
